# Core dependencies
openai>=1.0.0

# LangChain (Stage 3)
langchain>=0.3.0
langchain-openai>=0.2.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langgraph>=0.2.0

# Utilities
python-dotenv>=1.0.0
pandas>=2.0.0

# Development
jupyter>=1.0.0
ipython>=8.0.0

# data creation
faker
factory-boy
mkdocs-material